.assistance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f0f4f8, #87CEFA, #4682B4);
  padding: 40px;
  color: #fff;
  font-family: Arial, sans-serif;
}
  
/* Decorative Background */
.assistance-container::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  z-index: 0;
  animation: floating 6s ease-in-out infinite;
}

.assistance-container::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: -10%;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  z-index: 0;
  animation: floating 8s ease-in-out infinite reverse;
}

@keyframes floating {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(20px);
  }
}

.assistance-container h2{
  color: #2C3E50;
}
.assistance-container p{
  color: #687f96;
}

.main-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Buttons Layout */
.buttons-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.large-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  transition: all 0.3s ease;
}

.large-button:hover {
  background-color: #0056b3;
}

/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 50%;
  max-height: 70%;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.popup-heading {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #007bff;
}

/* Scrollable Container */
.scroll-container {
  overflow-y: auto;
  max-height: 300px;
  padding-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.contact-list,
.location-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li,
.location-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  text-align: left;
}

.contact-list li:last-child,
.location-list li:last-child {
  border-bottom: none;
}

/* Search Bar */
.search-bar {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}