/* Top Navbar */
.top_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  height: 7%;
  border-bottom: 2px solid lightgray;
  gap: 3%;
  background-color: #2a4f6d;
  margin-inline-start: 0%;
  z-index: 50;
  position: relative;
}

/* Navbar Settings */
.navbar_settings {
  padding: 0 2%;
}

.border_left_side_menu {
  border-left: 2px solid lightgray;
}

.border_right_side_menu {
  border-right: 2px solid lightgray;
}

.settings_icon {
  width: 2.5em; /* Taille dynamique */
  height: 2.5em;
  cursor: pointer;
}

/* Logout Container */
.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
  color: white;
}

.logout_icon {
  width: 2em; /* Taille dynamique */
  height: 2em;
  cursor: pointer;
}
