.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 50px; /* רווח מסביב */
    background: linear-gradient(to bottom right, #f0f4f8, #87CEFA, #4682B4);
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* מבטיח שהתוכן יתאים */
}





    /* Decorative Background */
    .videos-container::before {
        content: "";
        position: absolute;
        top: -10%;
        left: -10%;
        width: 1200px;
        height: 1200px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        z-index: 0;
        animation: floating 6s ease-in-out infinite;
    }

    .videos-container::after {
        content: "";
        position: absolute;
        bottom: -10%;
        right: -10%;
        width: 1200px;
        height: 1200px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        z-index: 0;
        animation: floating 8s ease-in-out infinite reverse;
    }

@keyframes floating {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }
}

.videos-container h2 {
    color: #2C3E50;
}

.videos-container p {
    color: #687f96;
}

.topic-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

.topic-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .topic-image:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

.topic-title {
    font-size: 18px;
    color: #2C3E50;
    text-align: center;
    margin-top: 5px;
}

.videos-list {
    margin-top: 20px;
}

    .videos-list ul {
        list-style-type: none;
        padding: 0;
    }

    .videos-list li {
        background-color: #f1f1f1;
        margin: 30px auto; /* מרכז את הקופסה */
        padding: 30px;
        width: 100%; /* ימלא את כל הרוחב של הקונטיינר */
        max-width: 90%; /* הקופסה תמלא 90% מרוחב המסך */
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* צל להדגשה */
    }




    .videos-list iframe {
        width: 100%; /* הסרטון ימלא את כל הרוחב של הקופסה */
        max-width: 1200px; /* הגבלה לגודל מסך רחב */
        height: 70vh; /* גובה הסרטון כ-70% מגובה המסך */
        border: none;
        border-radius: 10px;
        margin: 20px auto; /* מרכז את הסרטון */
        display: block;
    }



.back-button {
    align-self: flex-start; /* ימוקם בצד ההתחלתי של השפה */
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #4682B4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .back-button:hover {
        background-color: #5A9BD4;
    }
