.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* ממרכז את התוכן אנכית */
  min-height: 100vh; /* גובה מינימלי תמיד בגובה המסך */
  background: linear-gradient(to right, #87CEFA, #4682B4); /* רקע מלא */
  padding: 20px;
  position: relative; /* מוודאים שהכפתור ממוקם בתוך הרקע */
}

/* Decorative Background */
.videos-container::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  z-index: 0;
  animation: floating 6s ease-in-out infinite;
}

.videos-container::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: -10%;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  z-index: 0;
  animation: floating 8s ease-in-out infinite reverse;
}

@keyframes floating {
  0%, 100% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(20px);
  }
}


.topic-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 20px;
}

.topic-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.topic-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.topic-title {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.videos-list {
  margin-top: 20px;
}

.videos-list ul {
  list-style-type: none;
  padding: 0;
}

.videos-list li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.videos-list iframe {
  width: 90%;
  max-width: 800px;
  height: auto;
  border: none;
  border-radius: 8px;
  margin: 20px auto; /* מרכז את הסרטון */
  display: block;
}

.back-button {
  align-self: flex-start; /* ימוקם בצד ההתחלתי של השפה */
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4682B4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5A9BD4;
}